body
  h1 My Asset Insight
  h2 Your personal profile
  != viz
  div(class="getpersonal")
    a(href="/suggestions/#{locals.username}") Accept
    a(href="/suggestions/#{locals.username}") Edit your profile
  