body
  h1 My Asset Insight
  div(data-dojo-type="com.ibm.vis.widget.VisControl" id="bubbleChartDiv") Loading. Please wait...

  div(class="getpersonal")
    a(href="#bubbleChartDiv" onclick="toggleRecommendations(this); return false;") Show recommendations

  script(src="/js/dojo/dojo.js" data-dojo-config="async:true, paths:{'com/ibm/vis':'../rave/com/ibm/vis'}, gfxRenderer: 'canvas,svg,silverlight'")
  script(type="text/javascript").
   var username = '#{locals.username}' || 'joe';
   var vizJSON = {};
   var suggJSON = {};
   var widget;
   // load data
   require(["dojo/request", "dojo/json"], function(request, JSON){
    request.get("/" + username + ".json", {handleAs: "json"}).then(
        function(data){
             vizJSON = data;
        },
        function(error){
            console.log("An error occurred: " + error);
        }
    );
    request.get("/" + username + "-suggestion.json", {handleAs: "json"}).then(
        function(data){
             suggJSON = data;
        },
        function(error){
            console.log("An error occurred: " + error);
        }
    );
   });
   //load rave build layer
   require(["com/ibm/vis/main"], function() {

    //once we have the rave layer loaded, we can use all rave modules
    require(["com/ibm/init/ready", "dojo/parser", "dijit/registry", "com/ibm/vis/widget/VisControl"], function(ready, parser, registry) {                
                 
     //ready function is needed to ensure the rave system is properly loaded                
     ready(function() {
      parser.parse();
      widget = registry.byId("bubbleChartDiv");
      widget.initRenderer().then(function(w) {
       widget.setSpecification(vizJSON);
      }, function(raveException) {
       // An optional error handler
       alert(raveException.getMessage());
      });
     });
    });
   });
   function toggleRecommendations(e) {
     if (e.innerHTML.indexOf('recommendations') > 0) {
       e.innerHTML = "Show my current assets";
       widget.setSpecification(suggJSON);
     }
     else {
       e.innerHTML = "Show recommendations";
       widget.setSpecification(vizJSON);
     }
   }
