body, input, textarea {
 font-family: Lato,Helvetica,Arial,sans-serif;
 font-size: 19px;
}
h1 {
  color: #036;
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  margin: 0.5em 0 0 0;
  text-align: center;
}
#chartDiv {
  height: 500px;
  margin: 1em auto;
  text-align: center;
  width: 800px;
}
.getpersonal {
}
.getpersonal a {
  background-color: #39C;
  border: 2px outset #39C;
/*
  box-shadow: 2px 2px 4px #069;
*/
  color: #FFF;
  display: block;
  font-size: larger;
  font-weight: 700;
  margin: 1em auto;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px #069;
  width: 280px;
}
.getpersonal a:focus {
  border-color: #69F;
  border-style: inset;
}
form, h2 {
  margin: 1em 2em;
}
fieldset, legend {
}
fieldset {
  background-color: #CCD8FF;
  border: 2px outset #39C;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
legend {
  background-color: #39C;
  border: 2px outset #39C;
  border-radius: 0.5em;
  box-shadow: 2px 2px 6px #39C;
  color: #FFF;
  padding: 0.1em 0.5em;
}
label {
  display: block;
  font-weight: bold;
  margin: 1em 0 0 0;
}
textarea {
  display: block;
}